<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Retake Exam January 2019</title>
    <link href="../static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Video Tutorials</a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                {{/if}}
            </ul>
        </nav>

        {{#if error}}
        <section class="notifications">
            <p class="notification-message">{{error}}</p>
        </section>
        {{/if}}

        <main>
            {{#if user}}
            <h1 class="text-center">Courses</h1>
            <section>
                <a href="/create" class="btn btn-warning ">Create Course</a>
                <form class="search float-right">
                    <label>Search: </label>
                    <input type="text" name="search">
                    <input type="submit" class="btn btn-info" value="Search">
                </form>
            </section>
            {{#if courses}}
            <div class="container mt-3">
                <div class="row ">
                    <div class="card-deck d-flex justify-content-center">

                        {{#each courses}}
                        <div class="card mb-4">
                            <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap" width="400">
                            <div class="card-body">
                                <h4 class="card-title">{{title}}</h4>
                            </div>
                            <div class="card-footer">
                                <a href="/details/{{id}}"><button type="button"
                                        class="btn btn-info">Details</button></a>
                                <small class="float-right">{{createAt}}</small>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{else}}
            <h3 class="text-center">No courses...</h3>
            {{/if}}
            {{else}}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Video Tutorials</h1>
                    <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
                </div>
            </div>
            <div>
                <h1 class="text-center">Top Courses</h1>
                <div class="container mt-3">
                    {{#if courses}}
                    <div class="row d-flex justify-content-center">
                        <div class="card-deck">
                            {{#each courses}}
                            <div class="card mb-4">
                                <img class="card-img-top"
                                    src="{{imageUrl}}"
                                    alt="Card image cap" width="400">
                                <div class="card-body">
                                    <h4 class="card-title">{{title}}</h4>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                    </div>
                    {{else}}
                    <h4 class="text-center">No courses...</h4>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        </main>
        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2019
                <a href="https://softuni.bg/trainings/2255/expressjs-fundamentals-january-2019">Express Fundamentals</a>
            </div>
        </footer>

    </div>
</body>

</html>